<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>GoRide - Drivers</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="drivers"><img src="../img/drivers.png" alt="Logo"></div>

    <section class="background firstSection">
        <dix class="box-main">
            <div class="firstHalf">
                <button class="btn"><a href="#{pickup}">Start Pick-up Location: Google Maps</a></button>
                <button class="btn"><a href="#{dropoff}">Start Drop-off Location: Google Maps</a></button>
            </div>

            <div class="secondHalf">
                <div class="form">
                    <p class="text-big"><strong>Rider Name:</strong> #{rider_name}</p>
                    <br>
                    <p class="text-big"><strong>Rider Phone:</strong></strong> #{rider_phone}</p>
                    <br>
                    <p class="text-small"><strong>Origin:</strong> #{origin}</p>
                    <br>
                    <p class="text-small"><strong>Destination:</strong> #{destination}</p>
                    <br>
                    <p class="text-small"><strong>Distance:</strong> #{distance} Km</p>
                    <br>
                    <p class="text-small"><strong>Estianted Travel Time:</strong> #{time}</p>
                    <br>
                    <p class="text-small"><strong>Total Fare:</strong> Rs #{fare}</p>
                </div>
            </div>
        </dix>
    </section>

    <footer>
        <p class="text-footer">Copyright &copy; GoRide - All rights reserved.</p>
    </footer>
</body>

</html>