<!DOCTYPE html>
<html lang="en">

<head>
    <title>GoRide - Drivers</title>
    <link rel="stylesheet" href="../style.css">
    <script src="/drivers/drivers_active.js"></script>
</head>

<body>
    <div class="drivers"><img src="../img/drivers.png" alt="Logo"></div>
    <div class="drivers-text center"> Logged In As: #{email} </div>
    <div class="drivers-heading">
        <p class="text-big">Here are all the available Rides. Use "Get Ride" Button to choose the Best Ride For You.</p>
        <br>
        <br>
        <br>
    </div>
    <div>
    for item in arr
        <form class="center" action="/redirect" method="post">
            <input name="block_index" value='#{JSON.stringify(JSON.parse(item)["id"])}' type="hidden" />
            <input name="email" value=#{email} type="hidden" />
            <input name="origin" value=#{JSON.stringify(JSON.parse(item)["origin"]).split(" ").join("+")} type="hidden" />
            <input name="destination" value=#{JSON.stringify(JSON.parse(item)["destination"]).split(" ").join("+")} type="hidden" />
            <input name="time" value=#{JSON.stringify(JSON.parse(item)["time"]).split(" ").join("+")} type="hidden" />
            <input name="distance" value=#{JSON.parse(item)["distance"]} type="hidden" />
            <input name="fare" value=#{JSON.parse(item)["fare"]} type="hidden" />

            <span class="drivers-text">Ride ID: #{JSON.stringify(JSON.parse(item)["id"])}</span>
            <br>
            <span class="drivers-text">Origin: #{JSON.stringify(JSON.parse(item)["origin"])}</span>
            <br>
            <span class="drivers-text">Destination: #{JSON.stringify(JSON.parse(item)["destination"])}</span>
            <br>
            <span class="drivers-text">Est. Travel Time: #{JSON.parse(item)["time"]}</span>
            <br>
            <span class="drivers-text">Distance(km): #{JSON.parse(item)["distance"]}</span>
            <br>
            <span class="drivers-text">Total Fare: #{JSON.parse(item)["fare"]}</span>
            <br>
            <br>
            <button type="submit" class="btn" id="button" name=#{JSON.stringify(JSON.parse(item)["id"])}>Get Ride</button>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>

    //- <p id="demo">x</p>
            
    //- <form action="/updateLocation" method="post">
    //-     <input name="email" value=#{email} type="hidden" />
    //-     <input name="email" value=#{email} type="hidden" />
    //-     <input name="email" value=#{email} type="hidden" />
    //- </form>

    //- script.
    //-     var lat;
    //-     var lng;
    //-     if (navigator.geolocation)
    //-         navigator.geolocation.getCurrentPosition((position) => {
    //-             lat = position.coords.latitude; 
    //-             lng = position.coords.longitude; 
                
    //-         })
</body>

</html>