<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>GoRide</title>
    <link rel="stylesheet" href="../style.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_MAPS_API_KEY}&callback=initMap"></script>
    <script id="helper" src="riders/confirm.js" variable="#{origin}" final_drivers_list="#{JSON.stringify(final_drivers_list)}"></script>
</head>

<body>
    <div id="loading">
        <img id="loading-image" src="img/loading.gif" alt="Loading..." />
    </div>
    <nav class="navbar">
        <ul class="nav-list">
            <div class="logo"><img src="img/GoRide.png" alt="Logo"></div>
            <li><a href="/">Ride with us</a></li>
            <li><a href="/fare_calculation">Fare Calculation</a></li>
            <li><a href="/drive_with_us">Drive with us</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
        </ul>
    </nav>

    <section class="background firstSection">
        <dix class="box-main">
            <div class="firstHalf">
                <div id="map"></div>
                <div class="center">
                    br
                    br
                    <p class="text-big">Available Drivers Near You: #{drivers_count}</p>
                </div>
            </div>

            <div class="secondHalf">
                <form id="distance_form" action="/await" method="post">
                    <div class="form">
                        <p class="text-small"><strong>Origin:</strong> #{origin}</p>
                        <br>
                        <p class="text-small"><strong>Destination:</strong> #{destination}</p>
                        <br>
                        <p class="text-small"><strong>Distance:</strong> #{distance} Km</p>
                        <br>
                        <p class="text-small"><strong>Estianted Travel Time:</strong> #{time}</p>
                        <br>
                        <p class="text-small"><strong>Total Fare:</strong> Rs #{fare}</p>
                        <br>
                        <span class="text-small">Your Name: </span>
                        <input class="form-input" type="text" name="username" required>
                        <br>
                        <span class="text-small">Your Phone Number: </span>
                        <input class="form-input" type="text" name="phonenum" required>
                        <br>
                        <div class="buttons">
                            <button class="btn" type="submit" onclick="myFunction()">Confirm Ride</button>
                        </div>
                    </div>
                </form>
            </div>
        </dix>
    </section>

    //- <div id="hiddenLoader" class="oldClass"><img src="img/loading.gif" alt="Loading..."></div>

    <footer>
        <p class="text-footer">Copyright &copy; GoRide - All rights reserved.</p>
    </footer>
    <div id="time">01:00</div>
</body>

</html>