<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>GoRide</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="../style.css" rel="stylesheet" />

</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <div class="logo"><img src="img/GoRide.png" alt="Logo"></div>
            <li><a href="/">Ride with us</a></li>
            <li><a href="/fare_calculation">Fare Calculation</a></li>
            <li><a href="/drive_with_us">Drive with us</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
        </ul>
    </nav>

    <section class="background firstSection">
        <dix class="box-main">
            <div class="firstHalf">
                <p class="text-big center">Your Ride has been Confirmed!</p>
                <br>
                <p class="text-big center">Driver Details</p>
                <br>
                <p class="text-small center"><strong>Name:</strong> #{name}</p>
                <br>
                <p class="text-small center"><strong>Phone Number:</strong> #{phone}</p>
                <br>
                <p class="text-small center"><strong>Car:</strong> #{car}</p>
                <br>
                <p class="text-small center"><strong>Car Number:</strong> #{car_num}</p>
            </div>

            <div class="secondHalf">
                <div id="map"></div>
                <div id="output"></div>
            </div>
        </dix>
    </section>

    <footer>
        <p class="text-footer">Copyright &copy; GoRide - All rights reserved.</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_MAPS_API_KEY}&libraries=places"></script>
    <script id="helper" src="riders/final_page.js" origin="#{origin}" destination="#{destination}"></script>
</body>

</html>